{% extends 'layout' %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
{% endblock %}

{% block content %}


<h2>Új hirdetés készítése</h2>

{% if old('errors') %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hibalista</h3>
  </div>
  <div class="panel-body">
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<form class="form-horizontal" action="" method="post" data-toggle="validator">

  {{ csrfField }}

  <div class="form-group has-feedback">
    <label for="brand" class="col-lg-2 control-label">Márka</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="brand" name="brand" placeholder="Pl.: BMW"
        value="{{ old('brand') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label for="model" class="col-lg-2 control-label">Modell</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="model" name="model" placeholder="Pl.: X6"
        value="{{ old('model') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label for="year" class="col-lg-2 control-label">Év</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="year" name="year" placeholder="Pl.: 2016"
        value="{{ old('year') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label for="price" class="col-lg-2 control-label">Ár</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="price" name="price" placeholder="Pl.: 30000000"
        value="{{ old('price') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group">
    <label for="category_id" class="col-lg-2 control-label">Kategória</label>
    <div class="col-lg-10">
      <select class="form-control" id="category_id" name="category_id">
        {% for category in categories %}
        <option value="{{ category.id }}"
          {% if category.id == old('category_id') %}
          selected
          {% endif %}
        >
          {{ category.name }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label for="condition" class="col-lg-2 control-label">Állapot</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="condition" name="condition" placeholder="Pl.: Új"
        value="{{ old('condition') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label for="fuel" class="col-lg-2 control-label">Üzemanyag</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="fuel" name="fuel" placeholder="Pl.: Benzin"
        value="{{ old('fuel') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label for="km" class="col-lg-2 control-label">Megtett km</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="km" name="km" placeholder="Pl.: 50000"
        value="{{ old('km') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label for="enginecapacity" class="col-lg-2 control-label">Hengerűrtartalom</label>
    <div class="col-lg-10">
      <input required type="text" class="form-control" id="enginecapacity" name="enginecapacity" placeholder="Pl.: 4395"
        value="{{ old('enginecapacity') }}">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

      <div class="col-lg-12 col-md-offset-2">
  <div class="form-group">
    <div class="checkbox">
      <label><input type="checkbox" id="automatictransmission" name="automatictransmission" value="1" >Automata váltó</label>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label><input type="checkbox" id="alu" name="alu" value="1">Alufelni</label>
    </div>
  </div>
  
  <div class="form-group">
    <div class="checkbox">
      <label><input type="checkbox" id="climate" name="climate" value="1">Klíma</label>
    </div>
  </div>
  
  <div class="form-group">
    <div class="checkbox">
      <label><input type="checkbox" id="drawbar" name="drawbar" value="1">Vonóhorog</label>
    </div>
  </div>
  
  <div class="form-group">
    <div class="checkbox">
      <label><input type="checkbox" id="tempomat" name="tempomat" value="1">Tempomat</label>
    </div>
  </div>
  
  <div class="form-group">
    <div class="checkbox">
      <label><input type="checkbox" id="servicebook" name="servicebook" value="1">Szervízkönyv</label>
    </div>
  </div>

      </div>
<br>
  

  <div class="form-group has-feedback">
    <label for="description" class="col-lg-2 control-label">Leírás</label>
    <div class="col-lg-10">
      <textarea required class="form-control" rows="3" id="description" name="description"></textarea>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Mégse</button>
      <button type="submit" class="btn btn-primary">Kész!</button>
    </div>
  </div>
</form>

{% endblock %}