{% extends 'layout' %}

{% block content %}

<h2>Recept szerkesztése</h2>

{% if old('errors') %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hibalista</h3>
  </div>
  <div class="panel-body">
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<form class="form-horizontal" action="" method="post">

  {{ csrfField }}

  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Recept neve</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="Recept neve"
        value="{{ recipe.name }}">
    </div>
  </div>
  <div class="form-group">
    <label for="ingredients" class="col-lg-2 control-label">Hozzávalók</label>
    <div class="col-lg-10">
      <textarea class="form-control" rows="3" id="ingredients" name="ingredients">{{ recipe.ingredients }}</textarea>
      <span class="help-block">Plusz információ</span>
    </div>
  </div>
  <div class="form-group">
    <label for="instructions" class="col-lg-2 control-label">Leírás</label>
    <div class="col-lg-10">
      <textarea class="form-control" rows="3" id="instructions" name="instructions">{{ recipe.instructions }}</textarea>
      <span class="help-block">Plusz információ</span>
    </div>
  </div>
  <div class="form-group">
    <label for="category_id" class="col-lg-2 control-label">Kategória</label>
    <div class="col-lg-10">
      <select class="form-control" id="category_id" name="category_id">
        {% for category in categories %}
        <option value="{{ category.id }}"
          {% if category.id == recipe.category_id %}
          selected
          {% endif %}
        >
          {{ category.name }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

{% endblock %}