{% extends 'layout' %}

{% block content %}

<h2>Felhasználó szerkesztése</h2>

{% if old('errors') %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hibalista</h3>
  </div>
  <div class="panel-body">
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<form class="form-horizontal" action="" method="post">

  {{ csrfField }}

  <div class="form-group">
    <label for="lastname" class="col-lg-2 control-label">Vezetéknév</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Vezetéknév"
        value="{{ user.lastname }}">
    </div>
  </div>
  <div class="form-group">
    <label for="firstname" class="col-lg-2 control-label">Keresztnév</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Keresztnév"
        value="{{ user.firstname }}">
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-lg-2 control-label">Felhasználónév</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="username" name="username" placeholder="Felhasználónév"
        value="{{ user.username }}">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="email" name="email" placeholder="Email cím"
        value="{{ user.email }}">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-lg-2 control-label">Jelszó</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="password" name="password" placeholder="Jelszó"
        value="">
    </div>
  </div>
  <div class="form-group">
    <label for="password_confirm" class="col-lg-2 control-label">Jelszó újra</label>
    <div class="col-lg-10">
      <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Jelszó megerősítése"
        value="">
    </div>
  </div>
  <div class="form-group">
    <label for="telephonenumber" class="col-lg-2 control-label">Telefonszám</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="telephonenumber" name="telephonenumber" placeholder="Telefonszám"
        value="{{ user.telephonenumber }}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Mégse</button>
      <button type="submit" class="btn btn-primary">Mentés</button>
    </div>
  </div>
</form>

{% endblock %}