{% extends 'layout' %}

{% block title %}Autók böngészése{% endblock %}
{% block content %}
  <h2>Keress kulcsszavakra:</h2>

  <img src="https://raw.githubusercontent.com/viczanlilla/alkfejl-bead-2/master/bead1_images/ADATMODELL.png" alt="Car" style="width:304px;height:228px;">


{% endblock %}
