{% extends 'layout' %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<script src="/scripts/popup_login.js"></script>
<script src="/scripts/popup_registration.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/main.css">
{% endblock %}

{% block title %}Autók böngészése{% endblock %}
{% block content %}

  <form class="form-horizontal" action="" method="post">

  {{ csrfField }}
  <div class="form-group">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <br>
        <div class="col-lg-12 text-center">
      <h3>Üdvözlünk az oldalon!</h3>
        
    </div>
    </div>
  </div>
  </form>

<img src="https://raw.githubusercontent.com/viczanlilla/alkfejl-bead-2/master/img/car_index.jpg" alt="Car">
{% endblock %}
