{% extends 'layout' %}

{% block content %}

<h2>{{ recipe.name }}</h2>
<p>{{ recipe.category.name }}</p>
<h3>Hozzávalók</h3>
<pre>
{{ recipe.ingredients }}
</pre>
<h3>Leírás</h3>
<pre>
{{ recipe.instructions }}
</pre>

{% endblock %}